{% extends 'main.html' %}

{% block content %}
<div class="container">
    <h1>Resultado da soma</h1>
    <p>O resultado da soma é: {{ resultado }}</p>

    <h2>Registros da Soma</h2>
    {% if somas %}
    <table class="table table-bordered table-striped">
      <thead class="thead-light">
        <tr>
          <th>Data</th>
          <th>Número 1</th>
          <th>Número 2</th>
          <th>Resultado</th>
        </tr>
      </thead>
      <tbody>
        {% for soma in somas %}
          <tr>
            <td>{{ soma.data }}</td>
            <td>{{ soma.num1 }}</td>
            <td>{{ soma.num2 }}</td>
            <td>{{ soma.resultado }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>Não há somas registradas.</p>
  {% endif %}
  </div>
{% endblock %}
